﻿@model Work_Source.Models.Usuarios


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="sign-up section-padding text-center" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>Inicie sesión para ofertar por los mejores trabajos</h3>
                        <p>No puede perder esta grandiosa oportunidad</p>
                        <div class="signup-form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @*Campos requeridos omitiendolos*@
                            <div class="hiddendiv">
                                @Html.EditorFor(model => model.tipo_usuario, new { htmlAttributes = new { @class = "hidden", @Value = "1" } })
                                @*@Html.ValidationMessageFor(model => model.tipo_usuario, "", new { @class = "text-danger" })*@
                                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "hidden", @Value = "Nombre" } })
                                @*@Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })*@
                                @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "hidden", @Value = "Apellido" } })
                                @*@Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })*@
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "hidden", @Value = "7777-6666" } })
                                @*@Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })*@
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "hidden", @Value = "email@gmail.com" } })
                                @*@Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })*@
                                @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "hidden", @Value = "2000-01-01" } })
                                @*@Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })*@
                            </div>

                            @Html.LabelFor(model => model.codigo)

                            <div class="form-input-group">

                                <i class="fa fa-envelope"></i>

                                @Html.EditorFor(model => model.codigo)
                                @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger center" })
                            </div>
                            <br />



                            @Html.LabelFor(model => model.password)
                            <div class="form-input-group">
                                <i class="fa fa-lock"></i>
                                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                            </div>



                            <br />

                            <input type="submit" value="Iniciar Sesión" class="btn-fill sign-up-btn" />

                        </div>
                    </div>

                </div>
        </section>
    }


</body>
</html>
