﻿@model Work_Source.Models.Usuarios

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="sign-up section-padding text-center" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>Registrarse puede ser el cambio que necesite</h3>
                        <p>¿ Qué esperas para hacerlo ? <span class="fa fa-heart pulse2" style="color:red"></span> </p>


                        <div class="signup-form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "hidden", @Value = "SN00000000" } })
                            @Html.EditorFor(model => model.tipo_usuario, new { htmlAttributes = new { @class = "hidden", @Value = "1" } })

                            @Html.LabelFor(model => model.nombres)

                            <div class="form-input-group">

                                <i class="fa fa-user"></i>

                                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                            </div>
                            <br />


                            @Html.LabelFor(model => model.apellidos)
                            <div class="form-input-group">

                                <i class="fa fa-user"></i>
                                @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                            </div>
                            <br />


                            @Html.LabelFor(model => model.telefono)
                            <div class="form-input-group">

                                <i class="fa fa-phone"></i>
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                            </div>
                            <br />


                            @Html.LabelFor(model => model.email)
                            <div class="form-input-group">

                                <i class="fa fa-envelope"></i>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                            <br />


                            @Html.LabelFor(model => model.fecha_nacimiento)
                            <div class="form-input-group input-group datepick" data-date-format="YYYY-MM-DD">


                                @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <br />


                            @Html.LabelFor(model => model.password)
                            <div class="form-input-group">

                                <i class="fa fa-lock"></i>
                                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <br />


                            <input type="submit" value="Aceptar" class="btn btn-default" />


                        </div>

                    </div><!--s-->

                </div>

                
            </div>
        </section>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jsval")
        <script>
            $(document).ready(function () {
                $('.datepick').datetimepicker({
                    format: "YYYY-MM-DD",
                    ignoreReadonly: true
                });
            });
        </script>
    }

</body>
</html>
