﻿@model Work_Source.Models.Institucion

<section class="sign-up section-padding text-center" id="download">
    <div class="container">
        <div class="row">
            <h4>Información de Institución</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.direccion)
                </dd>

            </dl>
        </div>
        <br />
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.IdInstitucion }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Lista de Instituciones", "Index", null, new { @class = "btn btn-primary" })
        </p>

    </div>
    </div>
</section>

    