﻿@model PagedList.IPagedList<Work_Source.Models.Institucion>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<section class="sign-up section-padding" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Nueva Institución", "Create", null, new { @class = "btn btn-success" })
            </div>
        </div>
        <br /><br />
        <div class="row">
            @using (Html.BeginForm())
            {
                <div class="col-md-3">
                    <label class="control-label">
                        Buscar por nombre de institución:
                    </label>
                </div>
                <div class="col-md-3">
                    @Html.TextBox("txtBuscar", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                    <input type="submit" name="Buscar" value="Buscar" class="btn btn-warning" />
                </div>

            }
        </div>
        <br /><br />
              <div class="row">
                  <table class="table table-condensed table-responsive table-stripped table-hover">
                      <thead class="thead-light">
                          <tr>
                              <th class="text-left">
                                  @Html.DisplayNameFor(model => model.FirstOrDefault().nombre)
                              </th>
                              <th class="text-left">
                                  @Html.DisplayNameFor(model => model.FirstOrDefault().telefono)
                              </th>
                              <th class="text-left">
                                  @Html.DisplayNameFor(model => model.FirstOrDefault().direccion)
                              </th>
                              <th class="text-left">
                                  Acciones
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          @foreach (var item in Model)
                          {
                              <tr>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.nombre)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.telefono)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.direccion)
                                  </td>
                                  <td>
                                      @Html.ActionLink("Editar", "Edit", new { id = item.IdInstitucion }, new { @class = "btn btn-primary" }) |
                                      @Html.ActionLink("Detalles", "Details", new { id = item.IdInstitucion }, new { @class = "btn btn-warning" }) |
                                      @Html.ActionLink("Eliminar", "Delete", new { id = item.IdInstitucion }, new { @class = "btn btn-danger",
                                      @onclick = "return confirm('Seguro que desea eliminar el registro de ésta institución?')"})
                                  </td>
                              </tr>
                          }
                      </tbody>
                  </table>
                  <br />
                  <!--Controles de paginación-->

                  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                  @Html.PagedListPager(Model, page => Url.Action("Index",
                      new { page, currentFilter = ViewBag.CurrentFilter}))
              </div>
    </div>
</section>


