﻿<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>Acerca De</h1>
                    <p class="intro">¿Qué hacemos?</p>

                </div>
            </div>
        </div>
    </div>
    <%-- <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>--%>
</section>

<section class="features-extra section-padding" id="assets">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="feature-list">
                    <h3>Work Source, una innovación en la web</h3>
                    <p>
                        Work Source un sitio web que se encarga de informarte sobre los trabajos disponibles para que consigas uno de manera fácil, rápida y segura.
                        Nos encargamos de Ayudar a las personas a encontrar un trabajo mejor y a crecer profesionalmente y a las empresas a encontrar al
                        profesional que mejor encaje con sus necesidades, por medio del Internet desde tu hogar hasta su oficina.
                    </p>
                    <h5>¿Cómo funciona?</h5>
                    <ul>
                        <li>Creas tu cuenta y añades tu Hoja de Vida en tu perfil</li>
                        <li>Buscas alguna oferta que te interese</li>
                        <li>Haces tu petición por esa oferta laboral</li>
                        <li>Nosotros nos encargamos de mantenerte informado durante el proceso de elección</li>
                    </ul>

                    <a href="Registrarse.aspx" class="btn btn-ghost btn-accent btn-small">Increíble, Deseo Comenzar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="macbook-wrap wp3"></div>
    <div class="responsive-feature-img"><img src="img/macbook-pro.png" alt="responsive devices"></div>
</section>



<section class="intro section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe037;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Facil acceso a ofertas de Empleo</h5>
                    <p>De una manera sencilla y rápida tendras varias ofertas de trabajo al alcance de tu dispositivo.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe052;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Información Precisa</h5>
                    <p>Te damos la información más precisa y te mantenemos informado durante tu proceso de selección de empleo.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe015;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Nuevas Ofertas cada día</h5>
                    <p>Mantenemos actualizado nuestro catálogo de empleos que nos es brindada por distintas empresas</p>
                </div>
            </div>
        </div>
    </div>
</section>
