﻿
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>Registrate, Oferta y Trabaja!</h1>
                    <p class="intro">Work Source, un sitio donde puedes buscar ofertas de trabajo rápido y eficientemente</p>
                    <a href="#" class="btn btn-fill btn-large btn-margin-right">Iniciar Ahora</a> <a href="#" class="btn btn-accent btn-large">Leer Más</a>
                </div>
            </div>
        </div>
    </div>
    <%-- <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>--%>
</section>

<section class="intro section-padding">
    <div class="container">
        <div class="row">
            @*<%--<div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe033;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Easily Customised</h5>
                    <p>Easily customise Sedna to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.</p>
                </div>
            </div>--%>
            <%--                <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe030;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Modern Design</h5>
                    <p>Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market.</p>
                </div>
            </div>--%>
            <%--<div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe046;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Responsive Development</h5>
                    <p>Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
                </div>
            </div>--%>*@
            <h3>Aquí va texto</h3>
        </div>
    </div>
</section>