﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        @ViewBag.Title
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/favicon-32x32.png" sizes="32x32" />

    <link rel="icon" type="image/png" href="~/Content/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />

    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css" />

    @Styles.Render("~/bundles/css")


</head>
<body id="top">
    <section class="hero2">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><a href="#"><img src="~/Content/img/sedna-logo.png" alt="Sedna logo"></a></div>

                    <div class="header-nav">
                        <nav>
                            <ul class="primary-nav">
                                <li>@Html.ActionLink("Inicio", "Inicio", "Inicio")</li>

                                <li>@Html.ActionLink("Ofertas", "VerOfertas", "Ofertas")</li>
                                <li>@Html.ActionLink("Acerca De", "Info", "Inicio")</li>
                            </ul>
                            <ul class="member-actions">
                                @*<% if (Session["usuario"] == null || Session["usuario"] == "")
                                    { %>*@
                                <li>@Html.ActionLink("Iniciar Sesión", "IniciarSesion", "Login")</li>
                                <li>
                                    @Html.ActionLink("Registrarse", "Registrarse", "Login", null, new { @class = "btn-white btn-small" })

                                    @*<%}
                                        else
                                        {%>
                                        <li><a href="IniciarSesion.aspx" class="btn-white btn-small" runat="server" onserverclick="Unnamed_ServerClick">Cerrar Sesión</a></li>
                                        <%} %>*@


                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>

    </section>

    <!--Seccion para contenido-->

    @{
        if (TempData["successMessage"] != null)
        {
            <script>alertify.success('@TempData["successMessage"]')</script>
            TempData["successMessage"] = null;
        }

        if (TempData["errorMessage"] != null)
        {
            <script>alertify.error('@TempData["errorMessage"]')</script>
            TempData["errorMessage"] = null;


        }
    }

    @RenderBody()

    <!--Fin del contenido-->



    <section class="to-top">
        <div class="container">
            <div class="row">
                <div class="to-top-wrap">
                    <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="footer-links">
                        <ul class="footer-group">
                            <li>@Html.ActionLink("Inicio", "Inicio", "Inicio")</li>
                            <li><a href="VerOfertas.aspx">Ofertas</a></li>
                            <li>@Html.ActionLink("Acerca De", "Info", "Inicio")</li>
                        </ul>
                        <p>
                            Copyright © @DateTime.Now.Year <a href="Default.aspx">Work Source</a><br>
                            <a href="#">Derechos Reservados</a> | Contáctenos al: workSource@gob.sv.edu.sv <span class="fa fa-heart pulse2"></span>
                        </p>
                    </div>
                </div>
                <div class="social-share">
                    <p>Otras formas de Contactarnos:</p>
                    <a href="#" class="h3"><i class="fa fa fa-mobile-phone"></i><i class="h5"> +503 77658484</i></a>

                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/js")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    @RenderSection("scripts", required: false)
</body>
</html>
