﻿@model Work_Source.Models.Usuarios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Usuarios</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombres)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombres)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.apellidos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.apellidos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha_nacimiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_nacimiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.avatar.IdAvatar)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.avatar.IdAvatar)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoUsuario.tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoUsuario.tipo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.codigo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
