﻿@model Work_Source.Models.Usuarios

<section class="sign-up section-padding text-center" id="download">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Usuarios</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!--Campo para el código de usuario-->
                    @Html.HiddenFor(model => model.codigo)
                    <!--Campo para tipo de usuario-->
                    @Html.HiddenFor(model => model.tipo_usuario)

                    <div class="form-group">
                        @Html.LabelFor(model => model.nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.fecha_nacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group datepick col-md-6" data-date-format="YYYY-MM-DD">
                            @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                            @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>

                    <!--Campo de contraseña-->
                    @Html.HiddenFor(model => model.password)

                    @*<div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                    @if(Model.tipo_usuario == 3) { 
                        <div class="form-group" id="div-estado">
                            @Html.Label("lblEstado", "Estado del trabajador", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ddlEstado", new List<SelectListItem>
                           {
                               new SelectListItem { Value = "1", Text = "Habilitado"},
                               new SelectListItem { Value = "0", Text = "Inhabilitado"}
                           },
                           new { @class = "form-control" })
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Aceptar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.ActionLink("Listado de Usuarios", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jsval")
    <script>
        $(document).ready(function () {
            $('.datepick').datetimepicker({
                format: "YYYY-MM-DD",
                ignoreReadonly: true
            });

        });
    </script>
    <script>
        var seleccion = document.getElementById('tipo_usuario');
        window.addEventListener('load', mostrarControles);
        seleccion.addEventListener('change', mostrarControles);

        function mostrarControles() {
            var instituciones = document.getElementById('div-instituciones');
            var estado = document.getElementById('div-estado');
            instituciones.style.display = 'none';
            estado.style.display = 'none';

            switch (seleccion.value) {
                case '2':
                    instituciones.style.display = 'block';
                    break;

                case '3':
                    estado.style.display = 'block';
                    break;
            }
        }
    </script>
}
