﻿@model PagedList.IPagedList<Work_Source.Models.Usuarios>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<section class="sign-up section-padding" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Agregar Usuario", "Create", null, new { @class = "btn btn-success" })
            </div>
        </div>
        <br /><br />
        <div class="row">
            @using (Html.BeginForm())
            {
                <div class="col-md-3">
                    <label class="control-label">
                        Buscar por nombre de usuario:
                    </label>
                </div>
                <div class="col-md-3">
                    @Html.TextBox("txtBuscar", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                    <input type="submit" name="Buscar" value="Buscar" class="btn btn-warning" />
                </div>

            }
        </div>
        <br /><br />
        <div class="row">
            <table class="table table-condensed table-responsive table-stripped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().tipo_usuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().nombres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().apellidos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().email)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoUsuario.tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.apellidos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.codigo }, new { @class = "btn btn-success" }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.codigo }, new { @class = "btn btn-danger",
                                @onclick = "return confirm('Seguro que desea eliminar este registro de usuario?');" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <!--Controles de paginación-->

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, currentFilter = ViewBag.CurrentFilter}))
        </div>
    </div>
</section>
