﻿@model Work_Source.Models.DetalleOfertasEmpleo

<section class="sign-up section-padding" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Evaluación de Candidato
                </h2>
            </div>
                <hr />
                <br />
            <div class="col-md-6">
                <h4>
                    Aspirante:
                    @foreach (var user in ViewBag.NombreUsuario)
                    {
                        <span style="margin-right:6px;">@user.nombres</span> <span>@user.apellidos</span>
                    }
                </h4>
            </div>
                <br />
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#fase1">Fase 1</a></li>
                    <li><a data-toggle="tab" href="#fase2">Fase 2</a></li>
                    <li><a data-toggle="tab" href="#fase3">Fase 3</a></li>
                    <li><a data-toggle="tab" href="#fase4">Fase 4</a></li>
                </ul>
                @using (Html.BeginForm())
                {
                <div class="tab-content">
                    <div id="fase1" class="tab-pane fade in active">
                        <div class="form-horizontal">
                            <h4>Cumplimiento de perfil de contratación</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Criterio1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Criterio1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Criterio1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fase2" class="tab-pane fade in active">
                        <div class="form-horizontal">
                            <h4>Rendimiento en pruebas técnicas</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Criterio2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Criterio2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Criterio2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fase3" class="tab-pane fade in active">
                        <div class="form-horizontal">
                            <h4>Resultados de pruebas psicológicas y conductuales</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Criterio3, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Criterio3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Criterio3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fase4" class="tab-pane fade in active">
                        <div class="form-horizontal">
                            <h4>Rendimiento en Entrevista</h4>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Criterio4, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Criterio4, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Criterio4, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
               
        </div>
    </div>
</section>
