﻿@model Work_Source.Models.OfertasEmpleo

<section class="sign-up section-padding" id="download">
    <div class="container">
        <h3>Detalles de la Oferta</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreOferta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreOferta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>

            <dd>
                @(Model.estado.Equals(1) ? "Oferta Activa" : Model.estado.Equals(2) ? "Ofertas en proceso de selección" : "Oferta Finalizada")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombrePuesto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombrePuesto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MisionPuesto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MisionPuesto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoContratacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoContratacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumPlazas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumPlazas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.salario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.salario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_inicio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_inicio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_fin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_fin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.detalles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.detalles)
            </dd>

            <dt>
                Creador
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuarios.nombres)
            </dd>

        </dl>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                @Html.ActionLink("Editar Oferta", "Edit", new { id = Model.IdOferta }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Listado de ofertas", "Index", null, new { @class= "btn btn-success" })
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-6">
                <h4>Aplicantes de la oferta</h4>
                <hr />
            </div>
            <br /><br />
            <table class="table table-condensed table-hover table-stripped table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">Nombres</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center">Teléfono</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DetalleOfertasEmpleo)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Usuarios.nombres)</td>
                            <td>@Html.DisplayFor(modelItem => item.Usuarios.apellidos)</td>
                            <td>@Html.DisplayFor(modelItem => item.Usuarios.telefono)</td>
                            <td>@Html.DisplayFor(modelItem => item.Usuarios.email)</td>
                            <td class="text-center">@Html.ActionLink("Seleccionar", "Calificar", new { IdUsuario = item.Usuarios.codigo, IdOferta = Model.IdOferta }, new { @class = "btn btn-primary" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
</section>
        
        
          
     
       