﻿@using Work_Source.Models;
@model Work_Source.Models.OfertaEmpleoCompleta

@{ 
    string[] funciones = Model.InformacionOferta.FuncionesBasicas.Split(',');
    string[] conocimientos = Model.InformacionPerfilContratacion.ConocimientosEspecificos.Split(',');
    string[] partes;  
}

<section class="sign-up section-padding text-center" id="download">
    <div class="container">
        <h4>Modificar información de oferta de empleo</h4>
        <br />
        
        <ul class="nav nav-tabs" id="anclas">
            <li class="active"><a data-toggle="tab" href="#parte1">Parte 1</a></li>
            <li><a data-toggle="tab" href="#parte2">Parte 2</a></li>
            <li><a data-toggle="tab" href="#parte3">Parte 3</a></li>
            <li><a data-toggle="tab" href="#parte4">Parte 4</a></li>
            <li><a data-toggle="tab" href="#parte5">Parte 5</a></li>
        </ul>
        @using (Html.BeginForm("Edit", "Ofertas", FormMethod.Post, new { @onsubmit = "return validarDatos();" }))
        {
            @Html.AntiForgeryToken()
            <div class="tab-content">
                <div id="parte1" class="tab-pane fade in active">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-horizontal">
                        <h4>Información general de la plaza:</h4>
                        <hr />
                        <!--Campo de Id de oferta-->
                        @Html.HiddenFor(model => model.InformacionOferta.IdOferta)
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.NombreOferta, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.InformacionOferta.NombreOferta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.NombreOferta, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!--Campo para el creador de la oferta-->
                        @Html.HiddenFor(model => model.InformacionOferta.creador)
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.NombrePuesto, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.InformacionOferta.NombrePuesto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.NombrePuesto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.TipoContratacion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.InformacionOferta.TipoContratacion, new List<SelectListItem>
                           {
                               new SelectListItem { Value = "Temporal", Text = "Temporal" },
                               new SelectListItem{ Value = "Permanente", Text = "Permanente" },
                               new SelectListItem { Value = "Pasantías", Text = "Pasantías" },
                               new SelectListItem { Value = "Obra o Servicio", Text = "Obra o Servicio" },
                               new SelectListItem { Value = "Iterino", Text = "Iterino" },
                               new SelectListItem { Value = "Formación", Text = "Formación" }
                           },
                               new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.TipoContratacion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.NumPlazas, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.InformacionOferta.NumPlazas, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.NumPlazas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.salario, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.InformacionOferta.salario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.salario, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.fecha_inicio, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="input-group datepick col-md-6" data-date-format="YYYY-MM-DD">
                                @Html.EditorFor(model => model.InformacionOferta.fecha_inicio, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.fecha_inicio, "", new { @class = "text-danger" })
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.fecha_fin, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="input-group datepick col-md-6" data-date-format="YYYY-MM-DD">
                                @Html.EditorFor(model => model.InformacionOferta.fecha_fin, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.fecha_fin, "", new { @class = "text-danger" })
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12 text-danger">
                            @Html.Label("", ViewBag.ErrorFechas as string)
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.detalles, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.InformacionOferta.detalles, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.detalles, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte2" class="btn btn-success btn-large action">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="parte2" class="tab-pane fade">
                    <div class="form-horizontal">
                        <h4>Información del puesto:</h4>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.MisionPuesto, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.InformacionOferta.MisionPuesto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.MisionPuesto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Funciones básicas</label>
                                </div>
                                <div class="col-md-2">
                                    <label for="n-funciones" id="lbl-n-funciones"></label>
                                </div>
                                <div class="col-md-1">
                                    <button id="n-funciones" type="button" class="btn btn-danger btn-sm">+</button>
                                </div>

                            </div>
                        </div>
                        <div id="ctrl-dinamico">
                            @for (int i = 0; i < funciones.Length - 1; i++)
                            {
                                partes = funciones[i].Split(':');

                                <div class="form-group">
                                    <div class="col-md-2">
                                        <button class="btn btn-danger btn-sm btnEliminar" type="button">X</button>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="control-label col-md-2">Título de la Función:</label>
                                        <input type="text" name="tituloFuncion" id="tituloFuncion" class="form-control txtTituloFn" value="@partes[0]" />
                                        <div class="text-danger col-md-10"></div>
                                        <label class="control-label col-md-2">Descripción de la función:</label>
                                        <textarea class="form-control txtDesFn" name="descripcionFuncion" id="descripcionFuncion">@partes[1]</textarea>
                                        <div class="text-danger col-md-10"></div>
                                    </div>
                                </div>

                            }
                        </div>
                        
                        <!--Campo para funciones básicas-->
                        @Html.HiddenFor(model => model.InformacionOferta.FuncionesBasicas, new { @id = "datoFunciones" })
                        @Html.ValidationMessageFor(model => model.InformacionOferta.FuncionesBasicas, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.AspectosVarios, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.InformacionOferta.AspectosVarios, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.AspectosVarios, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte1" class="btn btn-success btn-large action">Atrás</a>
                            </div>
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte3" class="btn btn-success btn-large action">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="parte3" class="tab-pane fade">
                    <div class="form-horizontal">
                        <h4>Perfil de contratación:</h4>
                        <hr />
                        <!--Campo para ID de perfil-->
                        @Html.HiddenFor(model => model.InformacionPerfilContratacion.IdPerfil)
                        <!--Campo para Id de Oferta-->
                        @Html.HiddenFor(model => model.InformacionPerfilContratacion.IdOferta)
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionPerfilContratacion.GradoAcademico, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.InformacionPerfilContratacion.GradoAcademico, new List<SelectListItem>
                           {
                                 new SelectListItem { Value = "Bachillerato", Text = "Bachillerato" },
                                 new SelectListItem { Value = "Técnico Uiversitario", Text = "Técnico Uiversitario" },
                                 new SelectListItem { Value = "Licenciado", Text = "Licenciado" },
                                 new SelectListItem { Value = "Ingeniero", Text = "Ingeniero" },
                                 new SelectListItem { Value = "PostGrado", Text = "PostGrado" },
                                 new SelectListItem { Value = "Maestría", Text = "Maestría" },
                                 new SelectListItem { Value = "Doctorado", Text = "Doctorado" }
                           } ,
                           new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InformacionPerfilContratacion.GradoAcademico, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionPerfilContratacion.Especialidad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.InformacionPerfilContratacion.Especialidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InformacionPerfilContratacion.Especialidad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionPerfilContratacion.NivelExperiencia, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.InformacionPerfilContratacion.NivelExperiencia, new List<SelectListItem>
                           {
                               new SelectListItem { Value = "Junior", Text = "Junior" },
                               new SelectListItem { Value = "Semi Senior", Text = "Semi Senior" },
                               new SelectListItem { Value = "Senior", Text = "Senior" }
                           },
                               new { @class = "form-control" } )
                                @Html.ValidationMessageFor(model => model.InformacionPerfilContratacion.NivelExperiencia, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionPerfilContratacion.Genero, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.InformacionPerfilContratacion.Genero, new List<SelectListItem>
                           {
                               new SelectListItem { Value = "Femenino", Text = "Femenino" },
                               new SelectListItem { Value = "Masculino", Text = "Masculino" },
                               new SelectListItem { Value = "Masculino/Femenino", Text = "Masculino/Femenino" }
                           },
                               new { @class = "form-control" } )
                                @Html.ValidationMessageFor(model => model.InformacionPerfilContratacion.Genero, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Conocimientos Específicos:</label>
                            </div>
                            <div class="col-md-1">
                                <button id="n-conocimientos" type="button" class="btn btn-danger btn-sm">+</button>
                            </div>
                            <div id="ctrl-conocimientos">
                                @for (int i = 0; i < conocimientos.Length - 1; i++)
                                {
                                    <div class="form-group">
                                        <div class="col-md-1">
                                            <button class="btn btn-danger btn-sm btnEliminarConocimiento" type="button">X</button>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="control-label"></label>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea class="form-control txtConocimientos">@conocimientos[i]</textarea>
                                            <div class="col-md-7 text-danger"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.InformacionPerfilContratacion.ConocimientosEspecificos, new { @id = "datoConocimientos" })
                        @Html.ValidationMessageFor(model => model.InformacionPerfilContratacion.ConocimientosEspecificos, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionPerfilContratacion.Idiomas, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.InformacionPerfilContratacion.Idiomas, new List<SelectListItem>
                           {
                               new SelectListItem {  Value = "Inglés", Text = "Inglés" },
                               new SelectListItem {  Value = "Español", Text = "Español" },
                               new SelectListItem {  Value = "Francés", Text = "Francés" },
                               new SelectListItem {  Value = "Portugués", Text = "Portugués" },
                               new SelectListItem {  Value = "Italiano", Text = "Italiano" },
                               new SelectListItem {  Value = "Alemán", Text = "Alemán" },
                               new SelectListItem {  Value = "Japonés", Text = "Japonés" },
                               new SelectListItem {  Value = "Mandarín", Text = "Mandarín" }
                           }
                               ,new { @class = "form-control", @id = "ddlIdiomas", @multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.InformacionPerfilContratacion.Idiomas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte2" class="btn btn-success btn-large action">Atrás</a>
                            </div>
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte4" class="btn btn-success btn-large action">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="parte4" class="tab-pane fade">
                    <div class="form-horizontal">
                        <h4>Criterios de evaluación:</h4>
                        <hr />
                        @foreach (Ponderacion_Criterios c in ViewBag.Criterios)
                        {
                            <div class="form-group">
                                @Html.Label(c.Criterios_Evaluacion.nombre, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("criterios", c.Ponderacion, new { @class = "form-control" })
                                </div>
                            </div>
                        }
                            <br />
                        <div class="col-md-12 text-danger">
                            @Html.Label("", ViewBag.ErrorPonderacion as string)
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte3" class="btn btn-success btn-large action">Atrás</a>
                            </div>
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte5" class="btn btn-success btn-large action">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="parte5" class="tab-pane fade">
                    <div class="form-horizontal">
                        <h4>Estado de la oferta laboral:</h4>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.InformacionOferta.estado, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.InformacionOferta.estado, new List<SelectListItem>
                           {
                               new SelectListItem { Value = "1", Text = "Oferta Activa"},
                               new SelectListItem { Value = "2", Text = "En Proceso de selección"},
                               new SelectListItem { Value = "3", Text = "Oferta Finalizada"}
                           }

                               ,new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.InformacionOferta.estado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a data-toggle="tab" href="#parte4" class="btn btn-success btn-large action">Atrás</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Actualizar información" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        @*<div>
                @Html.ActionLink("Listado de ofertas", "Index",null, new { @class = "btn btn-warning" })
            </div>*@
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jsval")
    <script>
        $(document).ready(function () {
            $('.datepick').datetimepicker({
                format: "YYYY-MM-DD",
                ignoreReadonly: true
            });

            $('#ddlIdiomas').multiselect();

        });
    </script>
   
}

