﻿@model PagedList.IPagedList<Work_Source.Models.OfertasEmpleo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<section class="sign-up section-padding" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Agregar Oferta", "Create", null, new { @class = "btn btn-success" })
            </div>
        </div>
        <br /><br />
        <div class="row">
            @using (Html.BeginForm("Index","Ofertas", FormMethod.Post,new { @id="frmBusqueda", @onsubmit = "return validarDatos();" }))
            {
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">Seleccione un criterio de búsqueda:</label>
                        </div>
                        @Html.Hidden("valorOculto", ViewBag.ValorOculto as string, new { @class = "form-control", @id = "valorOculto" })
                        @Html.Hidden("hfbusqueda", ViewBag.Busqueda as string, new { @class = "form-control", @id = "hfbusqueda" })
                        <div class="col-md-2">
                            <select class="form-control" id="seleccion" name="filtroBusqueda">
                                <option value="" disabled>-- Seleccione --</option>
                                <option value="Todos">Todos los resultados</option>
                                <option value="Nombre">Nombre de Oferta</option>
                                <option value="Creador">Creador de Oferta</option>
                                <option value="Estado">Estado de Oferta</option>
                                <option value="Fechas">Fecha de publicación</option>
                            </select>
                        </div>
                        <div class="col-md-3 text-danger" id="errorSeleccion">

                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row" id="caja">

                </div>
                <div class="row" id="creadores">
                    <div class="col-md-2">
                        <label class="control-label">
                            Creador de oferta de empleo:
                        </label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("busqueda", (SelectList)ViewBag.ListadoCreadores, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="submit" name="Buscar" value="Buscar" class="btn btn-warning" />
                    </div>
                </div>
            }
        </div>
        <br /><br />
        <div class="row">
            <table class="table table-condensed table-hover table-stripped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreOferta)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().creador)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().TipoContratacion)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().fecha_inicio)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().fecha_fin)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().estado)
                        </th>
                        <th class="text-center">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreOferta)
                            </td>
                            <td>
                                @(item.Usuarios.nombres + " " + item.Usuarios.apellidos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoContratacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha_inicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha_fin)
                            </td>
                            <td>
                                @(item.estado.Equals(1) ? "Oferta Activa" : item.estado.Equals(2) ? "Oferta en proceso de selección" : "Oferta finalizada")
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdOferta }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.IdOferta }, new { @class = "btn btn-warning" }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdOferta }, new { @class = "btn btn-danger",
                                @onclick = "return confirm('Desea eliminar el registro de ésta oferta laboral?');"
                           })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <!--Controles de paginación-->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page }))
        </div>
    </div>
</section>
