﻿@model PagedList.IPagedList<Work_Source.Models.OfertasEmpleo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<section class="sign-up section-padding" id="download">
    <div class="container">
        <br />
        <div class="row">
            @using (Html.BeginForm("VerOfertas", "Ofertas", FormMethod.Post))
            {
                <label class="control-label col-md-2">
                    Buscar por nombre de oferta:
                </label>
                <div class="col-md-3">
                    @Html.TextBox("txtBuscar", "", new { @class = "form-control" })
                </div>
                <label class="control-label col-md-2">
                    Estado de Oferta:
                </label>
                <div class="col-md-3">
                    @Html.DropDownList("estadoOferta", new List<SelectListItem>
               {
                   new SelectListItem { Value = "", Text = "Todas" },
                   new SelectListItem { Value = "1", Text = "Oferta Activa" },
                   new SelectListItem { Value = "2", Text = "En proceso de selección" },
                   new SelectListItem { Value = "3", Text = "Oferta Finalizada" }
               },
               new { @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Buscar" class="btn btn-warning"/>
                </div>
            }
        </div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 intro-feature">
                    <div class="panel panel-default" style="max-width:500px;margin-left:auto;margin-right:auto;">
                        <div class="panel-heading">@item.NombreOferta</div>
                        <div class="panel-body">
                            <img src="img/work.jpg" width="200" height="150" />
                            <p>Puesto: @item.NombrePuesto</p>
                            <p>Tipo de Contratación: @item.TipoContratacion</p>
                            <p>Salario ofrecido: $ @item.salario</p>
                            <p>Cantidad de plazas: @item.NumPlazas</p>
                            <p>Estado: @(item.estado.Equals(1) ? "Oferta Activa" : @item.estado.Equals(2) ? "En proceso de selección" : "Oferta Finalizada")</p>
                            <div class="divider"></div>
                            @Html.ActionLink("Aplicar", "AplicarOferta", new { id = item.IdOferta }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("VerOfertas",
            new { page }))
    </div>
</section>
